@import '../../style/base';

.stepper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  &__title {
    margin: 40px auto 0 auto;
    font-size: 32px;
  }
  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 24px 0px;
  }
  &__buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

.ant-steps {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  gap: 4px;
}
.ant-steps-item {
  width: fit-content;
  &:hover {
    background-color: transparent !important;
  }
}
.ant-steps.ant-steps-inline .ant-steps-item-container {
  cursor: default;
  pointer-events: none;
  transition: 0;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
}
.ant-steps-item-tail {
  display: none !important;
}
.ant-steps-item-content {
  display: none !important;
}
.ant-steps-item-icon {
  width: fit-content !important;
  margin: 0 !important;
}
.ant-steps-icon-dot {
  height: 12px !important;
  width: 12px !important;
  border-radius: 50% !important;
  border: 1px solid #d1d1d1 !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  width: 40px !important;
  background: #00000083;
  border-radius: 8px !important;
  border: 0 !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background-color: $primary-color-dark !important;
  border: 0 !important;
}
