@import '../../style/base';

.tracker {
  display: flex;
  gap: 56px;
  height: 100%;
  &__info {
    background-color: $secondary-color-highlight;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    border-radius: 14px;
    width: 480px;
  }
  &__body-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__horizontal {
    display: flex;
    margin-bottom: 2px;
    gap: 2px;
    width: 100%;
  }
  &__tile-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__arrow {
    fill: #fff;
    transform: translateY(20%);
  }
  &__color-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &__habit {
    font-size: 18px;
    & span {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  &__dropdown {
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* react calendar styles */
.react-calendar{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.react-calendar__month-view__days {
  gap: 4px;
}
.react-calendar__month-view__days__day {
  // tile
  cursor: pointer;
  width: 56px;
  height: 56px;
  max-width: 56px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 4px;
  display: flex;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  & abbr {
    margin: 2px 0px 0px 4px;
    height: fit-content;
    position: relative;
    z-index: 11;
  }
}
.react-calendar__month-view__weekdays {
  // don't show week labels
  height: 0;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 10px;
  max-width: 56px;
}
.react-calendar__month-view__days__day--neighboringMonth,
.tracker__tile_disabled {
  // don't allow previous and next months to be active
  cursor: none;
  pointer-events: none;
  opacity: 0.5;
}
.react-calendar__navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  background-color: $primary-color-dark;
  border-radius: 4px;
}
.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  border: 0;
  color: #fff;
  background-color: #fff;
  background-color: transparent;
}
.react-calendar__navigation__label {
  pointer-events: none;
}
.react-calendar__navigation__label__labelText {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.react-calendar__navigation__arrow {
  cursor: pointer;
  width: 56px;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
