.tracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &__title {
    font-size: 32px;
    line-height: 40px;
  }
  &__header {
    display: flex;
    width: fit-content;
  }
  &__body {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  &__row {
    display: flex;
    width: fit-content;
    margin-bottom: 2px;
    gap: 2px;
  }
  &__row-label {
    width: 80px !important;
    margin-right: auto;
  }
}