.tracker-stamp {
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  height: fit-content;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.041);
  &__name {
    font-size: 24px;
  }
  &__description {
    
  }
  &__date {
    font-size: 12px;
    & span {
      font-weight: 500;
    }
  }
}