@import '../../style/base';

.input {
  border: 0;
  border-bottom: 2px solid #0000004a;
  outline: 0;
  font-size: 20px;
  padding: 4px 2px;
  width: 100%;
  transition: all 0.6 ease-in;
  &_active {
    border-bottom: 2px solid #3498db;
  }
  &__wrapper {
    position: relative;
  }
  &__label {
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #00000094;
    transition: all 0.2s ease-in;
    &_active {
      color: #3498db;
      bottom: auto;
      top: -20px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}