@import '../../style/base';

.input {
    border: 0;
    outline: 0;
    font-size: 14px;
    padding: 0;
    z-index: 1;
    padding: 16px;
    border-radius: 2px;
    background-color: $grayColor;
    width: 100%;

    &__wrapper {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 0px;
        left: 4px;
        transform: translateY(-112%);
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $ocherColor;
    }
}