@import '../../style/base';

.balance-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    height: fit-content;
    min-width: min-content;
    width: 32%;
    border-radius: 24px;
    background-color: $grayColor;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        text-transform: capitalize;
        font-size: 18px;
    }

    &__icon {
        cursor: pointer;
        font-size: 32px;
    }

    &__amount {
        font-size: 28px;
        font-weight: 600;
    }
}