@import '../../style/base';

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  min-width: 200px;
  width: fit-content;
  border-radius: 24px;
  background-color: #00000083;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  border: 0;
  &_secondary {
    background-color: transparent;
    border: 2px solid #00000083;
    color: #2c404c;
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button-icon {
  font-size: 18px;
}