@import '../../style/base';

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 80px;
    background-color: $darkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 32px 0px;

    &__icon {
        font-size: 32px;

        & path {
            color: $lightBrown;
        }
    }

    &__logout {
        cursor: pointer;
        margin-top: auto;
    }
}