@import '../../style/base';

.selector {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__label {
    font-size: 24px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}