@import '../../style/base';

.profile {
    height: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        background-color: $grayColor;
    }

    &__wrapper {
        width: 100%;
        border-radius: 16px;
    }
}