@import '../../../style/base';

.dashboard-list {
  flex-direction: column;
  padding: 16px 24px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
  }
  &__title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-right: 8px;
  }
}