@import '../../../../style/base';

.legend-list-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 8px 0;
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    cursor: pointer;
    font-size: 32px;
    fill: $primary-color-dark;
  }
}