@import '../../style/base';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__label {
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
  }
}