/* Width */
$maxScreenWidth: 1840px;

/* Fonts */
$primaryFont: "Poppins";
$secondaryFont: 'Gilda Display';

/* Colors */
$primary-color-dark: #1A1A1A;
$primary-color-light: #ffffff;
$primary-color-highlight: #c8abe6;
$secondary-color-dark: #6eb8e1;
$secondary-color-light: #d6e6f2;

