@import './base';

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.white-container {
  display: flex;
  border-radius: 14px;
  background-color: $primary-color-light;
  padding: 16px 24px;
}