@import '../../../style/base';

.setup {
    height: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__input-wrapper {
        display: flex;
        gap: 14px;
    }

    &__categories-wrapper {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__button {
        margin: 0 auto;
    }
}