@import '../../style/base';

.month-item {
    padding: 20px 32px;
    width: fit-content;
    font-family: $elegantFont;
    font-size: 56px;
    text-decoration: none;
    background-color: $grayColor;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 1.5px;
        text-decoration-color: $darkColor;
    }
}