@import '../../style/base';

.tab {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    padding: 8px 24px;
    text-align: center;
    width: 25%;

    &_active {
        border-radius: 16px;
        // background-color: $lightBrown;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    }
}