@import '../../style/base';

.profile-setup {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_currency {
        width: 24%;
    }

    &_totals {
        width: 28%;
    }

    &_category {
        width: 38%;
    }

    &_info {
        width: 40%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 6px;
        border-bottom: 2px solid $ocherColor;
    }

    &__text {
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
        min-height: 48px;
    }
}