@import './style/base';

html, body, #root, .app, main {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  
  
  * {
    box-sizing: border-box;
    font-family: $mainFont;
    color: $darkColor;
  }
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

.app {
  position: relative;
}

.main {
  padding-left: 80px;

  &_default {
    padding-left: 0;
  }

  @media screen and (min-width: 1718px) {
    padding-left: 0;
  }
}

.form-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 48px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.more-icon {
  cursor: pointer;
  font-size: 32px;
}
