@import './style/base';

html, body, #root, .app, main {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color-dark;

  * {
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $primary-color-light;
  }
}

.app {
  display: flex;
  flex-direction: column;
}

main {
  max-width: $maxScreenWidth;
  margin: 0 auto;
  flex: 1;
  display: flex;
}
