@import './style/base';

html, body, #root, .app, main {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  
  
  * {
    box-sizing: border-box;
    font-family: $mainFont;
    color: $darkColor;
  }
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

.app {
  position: relative;
}

main {
  padding-left: 140px;

  @media screen and (min-width: 1718px) {
    padding-left: 0;
  }
}
