@import '../../style/base';

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: $secondary-color-highlight;
  border-radius: 16px;
  position: relative;
  &__fill {
    height: 100%;
    background-color: $primary-color-highlight;
    border-radius: 16px;
  }
  &__percentage {
    position: absolute;
    color: $primary-color-highlight;
    right: 0;
    top: 0;
    font-size: 11px;
    font-weight: 600;
    transform: translateY(-100%);
  }
}