@import '../../../../style/base';

.time-format-card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2 / 1;
  justify-content: center;
  background-color: #00000049;
  border-radius: 14px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.18s ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &_active {
    // background-color: #00000049;
    background-color: $primary-color-highlight;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    scale: 1.01;
  }
}