@import '../../style/base';

.table-row {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    width: 100%;

    &_header {
        background-color: $ocherColor;

        & div {
            border: 0;
            border-right: 0 !important;
        }
    }

    &_small {
        grid-template-columns: 40% 30% 30%;
    }
}