@import '../../../style/base';

.selector-option {
  cursor: pointer;
  padding: 16px;
  border: 2px solid $primary-color-dark;
  border-radius: 6px;
  width: 320px;
  min-width: fit-content;
  display: flex;
  gap: 16px;
  align-items: center;
  opacity: 0.4;
  font-size: 18px;
  &_active {
    opacity: 1;
    .selector-option__circle {
      background-color: $primary-color-dark;
    }
  }
  &__circle {
    border: 2px solid $primary-color-dark;
    width: 24px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
}